{% extends 'bootstrap/base.html' %}

{% block title %}
My Tasks
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button class="navbar navbar-toggle" data-toggle="collapse" data-target="#mynavbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand">Task Master</span>
            </div>
            <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('index') }}"><span class="glyphicon glyphicon-home"> Home</span></a></li>
                    <li><a href="{{ url_for('task') }}"><span class="glyphicon glyphicon-tasks"> Tasks</span></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out"> Logout</span></a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='tasks.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <h2>Task Master</h2><br>
    {% with messages = get_flashed_messages(with_categories=true) %}
        <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissable fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>
<div class="container">
    {% if tasks|length < 1 %}
        <h4>{{ current_user.username }}, you can start adding tasks! </h4>
    {% else %}
        <table class="table table-striped table-bordered">
        <tr>
            <th>Task</th>
            <th>Date</th>
            <th>Action</th>
        </tr>
        {% for task in tasks|reverse %}
        <tr>
            <td>{{ task.content }}</td>
            <td>{{ task.date_created.date() }}</td>
            <td><a class="btn" role="button" href="/update/{{task.id}}">Update</a>
                <br>
                <a class="btn" role="button" href="/delete/{{task.id}}">Delete</a>
            </td>
        </tr> 
        {% endfor %}
        </table>
    {% endif %}
    <br>
    <form method="POST" class="form-group form-group-lg" action="/task" autocomplete="off">
        <input autocomplete="false" name="hidden" type="textarea" style="display: none">
        <input class="form-control" type="text" name="content" placeholder="Add a new task">
        <br>
        <input type="submit" class="btn btn-default" value="Add task">                         
        {% if not tasks|length < 2 %}
        &ensp;  
        <input type="submit" class="btn btn-default"formaction="/delete_all_tasks" name="delete_all_tasks" value="Delete all tasks">
        {% endif %}
    </form>  
</div>
<div class="footer">
    <footer>&copy;2019, Task Master, Rajat M</footer>
</div>

{% endblock %}