{% extends 'bootstrap/base.html' %}

{% block title %}
Update Task
{% endblock %}
 
{% block navbar %}
<nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button class="navbar navbar-toggle" data-toggle="collapse" data-target="#mynavbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand">Task Master</span>
            </div>
            <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('index') }}"><span class="glyphicon glyphicon-home"> Home</span></a></li>
                    <li><a href="{{ url_for('task') }}"><span class="glyphicon glyphicon-tasks"> Tasks</span></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out"> Logout</span></a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='index.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <h3>{{ current_user.username }}, you can update the task here</h3><br>
    {% with messages = get_flashed_messages(with_categories=true) %}
        <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissable fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>
<div class="container">
    <div class="form-group">
        <form method="POST" class="form-group form-group-lg" action="/update/{{ task.id }}" autocomplete="off">
            <input autocomplete="false" type="text" name="hidden" style="display: none">
            <input type="text" class="form-control" name="content" value="{{ task.content }}">
            <br>
            <input type="submit" class="btn btn-default
            " value="Update Task">
        </form>
    </div>
</div>
<div class="footer">
    <footer>&copy;2019, Task Master, Rajat M</footer>
</div>
{% endblock %}